html, body {
  min-height: 100%;
}

.app-container {
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "nav main";
}
.nav {
  height: 100vh;
  grid-area: nav;
  background-color:#EEE;
  border-right: 1px solid #DDD;
  padding: 0;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 110px; 
  gap: 0px 0px; 
  grid-template-areas: 
    "nav-content"
    "account"; 
}

.nav-content { grid-area: nav-content; }
.account { 
  grid-area: account; 
  background-color: rgba(0, 0, 0, 0.03);
  padding: 10px 20px;
  max-width: 100%;
  overflow-x: hidden;
}

.main {
  grid-area: main;
  overflow-y: 100vh;
}

.nav-items {
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.nav-items li {
  width: 100%;
  box-sizing: border-box;
  padding: 3px 25px;
  cursor: pointer;
}

.nav-items.disabled li {
  opacity: 0.5;
}

.nav-items.disabled:hover, .nav-items.disabled li:hover {
  cursor:not-allowed;
}

.nav-items li:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.compose-button {
  margin: 0px 25px;
}

.nav-title {
  margin: 20px 25px;
}

.login-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: small;
}

.login-message button {
  margin-top: 10px;
}

.main-login-message {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lia {
  font-size: small;
  line-break: loose;
}

a {
  color: unset;
  text-decoration: unset;
}

.msg-item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

.msg-item-row.header {
  font-weight: bold;
  background-color: #EEE;
  border-bottom: 1px solid #DDD;
}

.msg-item-row:not(.header):hover {
  background-color: rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.msg-item-row .from,.subject {
  text-align: left;
}

.msg-item-row .from {
  width: 300px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.msg-item-row .timestamp {
  width: 100px;
}

.msg-item-row :not(.subject) {
  flex-grow: 0;
}

.msg-item-row .subject {
  width: 500px;
  flex-grow: 100;
  max-width: 600px;
}

.msg-item-row .actions {
  opacity: 0;
  width: 120px;
}

.msg-item-row:hover .actions {
  opacity: 1;
}


.messageView {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: min-content 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header-area"
    "body-area";
  max-height: 100vh;
}

.messageView div {
  padding-left: 30px; padding-right: 30px;
}

.messageView .header { 
  grid-area: header-area;
  background-color: #F6F6F6;
  border-bottom: 3px dashed #DDD;
  padding-bottom: 15px;
}
.messageView .body { grid-area: body-area;
  overflow-y: scroll;
}

.dir-view {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr min-content; 
  gap: 0px 0px; 
  grid-template-areas: 
    "message-table"
    "status-bar"; 
    height: 100%;
}
.message-table {
  grid-area: message-table;
  overflow-y: scroll;
}
.status-bar {
  grid-area: status-bar;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  border-top: 2px dashed #DDD;
  padding: 7px 10px;
}

.status-bar .msg-count {
  margin-right: 7px;
}